h1{

background: rgb(25,0,254);
background: linear-gradient(90deg, rgba(25,0,254,0.804359243697479) 45%, rgba(0,255,244,0.9023984593837535) 53%);
}
h2{background: rgb(0,236,255);
background: radial-gradient(circle, rgba(0,236,255,0.8127626050420168) 12%, rgba(162,82,82,1) 52%, rgba(0,1,255,0.8435749299719888) 85%);}
p{background: rgb(0,254,179);
background: linear-gradient(180deg, rgba(0,254,179,0.804359243697479) 15%, rgba(8,0,255,0.9023984593837535) 30%, rgba(79,158,137,0.9023984593837535) 46%, rgba(69,77,139,0.9023984593837535) 63%, rgba(51,194,190,0.9023984593837535) 81%);}