@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: Roboto;

}



article {
position: relative;
width: 600px;
display: flex;
justify-content: space-between;
align-items: flex-start;




}



article .image{
width: 500px;
height: 170px;
background-image: url(1.jpg);
background-position: center;
background-size: cover;
padding: 20px;
}



article .text {
width: 500px;
height: 170px;
background-color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: flex-start;
background: linear-gradient(43deg, rgba(78,147,205,0.9836309523809523) 28%, rgba(12,42,43,1) 73%);
}



.text h1 {
padding: 20px;
background-color: white;
color: blue;
font-size: 35px;
position: absolute;
top: 65px;
left: 390px;



}



.box p {
padding: 15px;
background-color: darkblue;
position: absolute;
top: 50px;
left: 270px;
color: whitesmoke;





}